<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="xdas" class="org.xdas.logger.XDASAppender">
		
		<param name="separator" value="|" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d %-5p [%c{1}] [%t] %m%n" />
		</layout>
	</appender>



	<!-- ====================== -->
	<!-- More Appender examples -->
	<!-- ====================== -->
	<!-- Buffer events and log them asynchronously -->
	<!-- Have to set loger here that should be written asychronously -->
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="xdas" />
	</appender>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<appender-ref ref="ASYNC" />
	</root>

</log4j:configuration>
