<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.codehaus.xdas4j.logger.XDASJSONLayout"/>
	</appender>

	<!-- Buffer events and log them asynchronously -->
	<appender name="XDAS" class="org.codehaus.xdas4j.logger.XDASAppender">
		<!-- Common XDAS fields can be defined here -->
		<param name="observerHostName" value="Hostname defined into log4j config file" />
		
		<appender-ref ref="CONSOLE" />
	</appender>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<appender-ref ref="XDAS" />
	</root>

</log4j:configuration>
