<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="xdas" class="org.codehaus.xdas4j.logger.XDASAppender">
		<!-- Params are set using reflexion: They are defined as setter into appender class -->
		<!-- param name="separator" value="xx" -->
	</appender>


	<!-- Buffer events and log them asynchronously -->
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="xdas" />
	</appender>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<appender-ref ref="ASYNC" />
	</root>

</log4j:configuration>
